{% extends 'base.html.twig' %}
{% block title %} creer un nouveau personnage{% endblock %}
{% block body %}

{{form_start(form)}}
{{form_widget(form)}}
<button>Creer</button>
{{form_end(form)}}
{% endblock %}

